{
  "plugins": [
    "inline-react-svg",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    "transform-flow-strip-types"
  ],
  "presets": [
    "es2015",
    "next/babel",
    "react"
  ]
}
