{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "jsx-a11y/anchor-is-valid": "warn",
    "jsx-a11y/label-has-for": [
      "error", {
        "components": [ "label"  ],
        "required": {
          "every": [ "id" ]
        }
      }
    ],
    "no-confusing-arrow": "off",
    "react/jsx-filename-extension": "off"
  }
}
