{
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "rules": {
    "comma-dangle": "off",
    "function-paren-newline": "off",
    "jsx-a11y/anchor-is-valid": "warn",
    "no-confusing-arrow": "off",
    "react/jsx-filename-extension": "off",
    "react/no-array-index-key": "off"
  }
}
